body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}
h1 {
  padding: 10px;
}
button {
  font-size: 2em;
  border-style: solid;
  border-color:darkgrey;
  border-radius: 8px;
  padding: 8px 16px;
  transition-duration: 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: darkgrey;
  color: white;
}
